kbd{
    font-size: 210% !important;
    background-color: #5a7ea2 !important;
    border-radius: 0.2rem !important;
    border: 4px solid black;
}
.wrapper{
    margin-top: 50px !important;
}
h1{
    font-size: 5rem !important;
    font-weight: bold !important;
} 
.playing{
    transform: scale(1.1) !important;
    border-color: #ffc600 !important;
    box-shadow: 0 0 1rem #ffc600 !important;
}